
ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

li {
    display: inline;
}




h1 {
  font-color: #EEE;
}

h4 {
  font-color: #eee;
  font-size: 20px;
}



#container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

#mainContent {
  max-width: 1280px;
}



/* TITLE PAGE */

#titlePage {
	text-align:center;
  height:100vh;
}

/* PROFILE PAGE */

#profilePage {
  height: 100vh;
}

.pageTitle {
	text-align: center;
  padding-top:40px;
}

#profileImage img {
  display: table-caption;
  margin: 0 auto;
}


/* EXPERIENCE PAGE */

#experiencePage {
  height: 100vh;
}

.experienceList {
  margin-top: 23px;
}

/* ABILITIES PAGE */

#abilitiesPage {
  height: 100vh;
}


.dividerLine {
  border-bottom: 1px solid #000;
  height: 1px;

}

/* CONTACT PAGE */

#contactsPage {
  height: 80vh;
}

#followButtons {
  text-align:center;
  margin-top: 40px;
}


/* NAVIGATION BAR */

#sidebar {
	z-index: 1000;
	top:8%;
  float:right;
}

nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:fixed;
}

nav a { 
  display: inline; 
}

.fixed {
  position: fixed;
}








/***** GRID CSS *****/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}